{{ define "edit"}}

<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body class="bg-light">
    {{ template "navbar" }}
    {{ template "nav-header" }}

    <main class="container my-4">

        <h1 class="display-4 mb-5">Create a new post</h1>
    
        <div class="form-style form-style-one">
            <form class="row" method="POST" action="/update?id={{.Id}}">
                <div class="mb-3">
                    <label for="title" class="form-label">Post title</label>
                    <input type="text" class="form-control" id="title" placeholder="Post title" name="title" value="{{.Title}}">
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" placeholder="Author name" name="author" value="{{.Author}}">
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Write the post content here" id="content" name="content" style="height: 100px">{{.Content}}</textarea>
                    <label for="content">Content</label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary px-4">Update article</button>
                    <a href="/show?id={{.Id}}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>

    </main>
    {{ template "footer" }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
{{end}}